.container {
	height: 300px;
	width: 300px;
	margin: auto;
	border: 1px solid #666;
	perspective: 400px;
}
.dice {
	height: 100px;
	width: 100px;
	margin: 100px 100px;
	/*border: 1px solid #666;*/
	position: relative;
	transition: 3s;
	transform-style: preserve-3d;
}
.dice div {
	height: 100px;
	width: 100px;
	position: absolute;
	color: #fff;
	text-align: center;
	line-height: 100px;
	transition: 3s;
}
.dice div:nth-child(1) {
	top: 0;
	left: 0;
	background-color: red;

	transform: rotateY(180deg) translateZ(100px);
}
.dice div:nth-child(2) {
	top: 0;
	left: -100px;
	background-color: green;
	/*transform-origin: right;*/
	transform: rotateY(-90deg);
}
.dice div:nth-child(3) {
	top: 0;
	left: 100px;
	background-color: blue;
	/*transform-origin: left;*/
	transform: rotateY(90deg);
}
.dice div:nth-child(4) {
	top: -100px;
	left: 0;
	background-color: cyan;
	/*transform-origin: bottom;*/
	transform: rotateX(90deg);
}
.dice div:nth-child(5) {
	top: 100px;
	left: 0;
	background-color: orange;
	/*transform-origin: top;*/
	transform: rotateX(-90deg);
}
.dice div:nth-child(6) {
	top: 0;
	left: 0;
	background-color: black;
	transform-origin: 50% 50%;
	transform: translateZ(100px);
}
.dice:hover {
	transform: rotateY(-495deg) rotateX(45deg);
}
.dice:hover div:nth-child(1) {
	transform: translateZ(-50px) rotateY(180deg);
}
.dice:hover div:nth-child(2) {
	transform: translateX(50px) rotateY(-90deg);
}
.dice:hover div:nth-child(3) {
	transform: translateX(-50px) rotateY(90deg);
}
.dice:hover div:nth-child(4) {
	transform: translateY(50px) rotateX(90deg);
}
.dice:hover div:nth-child(5) {
	transform: translateY(-50px) rotateX(-90deg);
}
.dice:hover div:nth-child(6) {
	transform: translateZ(50px);
}
